body{
	background-color: linen;
}

h1{
  color:brown;
  text-align: center;
  font-size: 45px;  
}

h2{
	text-align: center;
	color: brown;
	font-size:30px;
}

p:first-line {
    color:black;
}

p {
    text-indent:40px;
	font-size: 20px
}

.headings{
	text-align: center;
	color: brown;
}

.everything{
	padding-top: 170px;
  padding-right: 170px;
  padding-bottom: 170px;
  padding-left: 170px;
}
