h1{
  color:brown;
  text-align: center;	
}

p:first-line {
    color:black;
}

p {
    text-indent:40px;
}

.headings{
	text-align: center;
	color: brown;
}

.everything{
	padding-top: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
}
