{% extends "layout.html" %}

{% set active_page = "attacks" %}

{% block title %}Attacks{% endblock %}

{% block content %}
    <!--page content-->
<div class="container mt-5 everything">
	<h2 class="headings">Attacks</h2>
	<p>
		Attacks by street dogs are a big concern for pedestrians in Mexico. Although some dogs may be friendly, or afraid, some dogs can become aggressive. This aggression commonly comes from abusive owners that instilled fear
		into the dog, prompting it to bite and attack. These behaviors follow them onto the streets, becoming a threat to the community and other dogs. Dog attacks are unfortunately common in La Valla, San Juan del Río, Mexico.
		The municipal delegate of La Valla, Jacobo Hernandez Ibarra describes this issue as a consequence of street dog overpopulation (Luna). During the first half of 2023, there were at least fifteen street dog attacks in the 
		area. Many of those fifteen attacks were directed towards minors and elderly people. Although the municipal delegation has counted these fifteen attacks, Jacobo Hernandez Ibarra states that there is a high chance of 
		there being many more dog attacks happening around them, as most cases of dog violence go unreported (Luna). In the interview with Karla Uribe, she narrated her experience with dog attacks. “My aunt got attacked by a
		dog as she was walking along the street. It bit her hand and managed to draw blood; she had to go to the hospital,” she explained, “And when I was about ten walking home after buying tortillas I was suddenly nipped in 
		the angle by a dog. It didn’t draw blood, thankfully, but I was afraid to walk through that street again for fear that I would get bit.” Karla’s first hand experience shows how aggressive dogs on the street disturb the 
		safety of the city. This can be especially threatening to young children who go out to play.
	</p>
</div>
{% endblock %}