{% extends "layout.html" %}

{% set active_page = "causes" %}

{% block title %}Causes{% endblock %}

{% block content %}
    <!--page content-->
<div class="container mt-5 everything">
	<h2 class="headings">Main Causes</h2>
	<p>
		Abandonment by their owners is one of the main reasons dogs end up on the streets. 
		Mexico holds the #1 spot for dog abandonment in Latin America. Reasons for abandonment vary. 
		The president of the Pro-Animal Association reported that the animal abandonment rate increased from 30% to 70% during the pandemic (Ayala Rodriguez et al. 2). 
		It is estimated that the main reasons dogs get abandoned are: Lack of time and patience, reproduction due to not sterilizing the dog, the owner’s inability to keep up with the dog’s maintenance, and living in a “no-dog” zone. 
		Many rented living spaces such as apartments do not allow dogs or other pets in the building. Despite this, some people still choose to keep pets in secret. 
		Those who are discovered to have kept a pet are ultimately given two options: move out with the pet, or stay but get rid of the pet. Many people choose to get rid of the pet, which most commonly results in the animal living on the streets.
		A significant reason for the abandonment of a dog is inability to afford it. About 9.5% of Mexicans live in extreme poverty (Castagno 11). This is another issue that has yet to be resolved. 
		A study that measured the reasons for abandonment found that aggression made up 83.6% of the reasons. Sickness was 38%, behavioral problems: 20.9%, moving to another home: 13.3%, lack of space, pregnancy, causing problems, nearing death, and old age each made up 3.8% of the list. (Mota-Rojas et al.).
		According to the National Institute of Statistics and Geography, 500,000 dogs get abandoned every year (Escareño Sanchez et al. 8). However, not all dogs are abandoned without owners. In an interview with Karla Uribe, who grew up in Nayarit, Mexico, I learned that lots of dogs that roam around her hometown have owners. 
		She states that, “Many of the dogs have homes, but their owners never pay attention to them. They are left to roam the streets and pester anyone they come across.” This negligence not only affects the dog but also the community around them.
		<br>   Lack of knowledge on animal care is another main factor of this street dog overpopulation. There are many instances where a person will buy a dog without any prior knowledge on how to take care of one. This makes it very easy for the owner to abandon their dog after unexpected behaviors ensue (Escareño Sanchez 9).
	</p>
</div>
{% endblock %}