{% extends "layout.html" %}

{% set active_page = "government" %}

{% block title %}Government Help{% endblock %}

{% block content %}
    <!--page content-->
<div class="container mt-5 everything">
	<h2 class="headings">How is the Government Helping?</h2>
	<p>
		   The Mexican government has also been making attempts at fixing the issue. La Ley De Protección A Los Animales Del Distrito Federal (LPDADF) or The Federal District’s Animal Protection Law in Mexico City has many articles
		working against animal cruelty. For example, Article 1 focuses on protecting the animal’s well being. It swears to “protect animals, guaranteeing their well-being, care, good treatment, maintenance, accommodation, 
		their natural development, health and avoiding mistreatment, cruelty, suffering, bestiality and deformation of their physical characteristics; ensuring animal health and public health.” (Castagno 22). Enforcing laws
		such as this one around more states could help promote proper care for dogs.  This could decrease the amount of dog abandonment and the overall population of street dogs around the country.
		<br>   Article 10 of the LPDADF explains how Mexico City’s Health Secretary takes care of supervising, regulating, and verifying animal control centers in the district, while also making sure that euthanasia is performed
		humanely and professionally. The Health Secretary is also in charge of making sure dogs that have been abandoned and living on the streets are captured with permission from the local authorities and delegation of 
		the district and transfer them to control centers or protective associations. (Castagno 16).
	</p>
</div>
{% endblock %}