{% extends "layout.html" %}

{% set active_page = "solutions" %}

{% block title %}Possible Solutions{% endblock %}

{% block content %}
    <!--page content-->
<div class="container mt-5 everything">
	<h2 class="headings">Possible Solutions</h2>
	<p>
		There are many possible solutions in controlling the stray dog population. One of the most common solutions offered by many organizations is sterilization and vaccination campaigns. Sterilization could prove to be a very
		effective method in population control, as it targets the problem before it happens. Luis Manuel Escareño Sanchez describes in his paper how the “capture, sterilize, and return” strategy is recommended for communities 
		who are tolerant of street dogs (12). Sterilization campaigns can prove to be very effective due to the fact that it prevents dogs from breeding and continues to contribute to the overpopulation of street dogs. 
		Vaccination campaigns are also very important, specifically for the safety of people and other dogs.
		<br>   Education on dog maintenance is also a very recommended solution for this problem. Education tackles the issue of 
		abandoning dogs due to ignorance about how to properly care for the dog. If people know what to expect when getting a dog and how to care for it properly, abandonment for things such as inability to keep up with
		maintenance could decrease significantly. Sanchez’ paper also states that Sawbridge signals that the best and most humane method of population control is through the combination of education with identification, 
		while the International Companion Animal Coalition believes that the best method of population control is by using multiple different techniques (13). Other countries such as Denmark, Finland, and Germany have 
		successfully used education as their main form of animal control.
		<br>   Adoption is another potential method for decreasing the street dog population. It could be a good solution as long as the potential owners are
		required to sign an adoption contract agreeing to sterilize the animal, provide identification, and give all the needed vaccines to the pet. Acquiring funding for an adoption center for street dogs could change the
		lives of both a dog and a person. In Escareño Sanchez’ paper, he describes how adoption could be a potential solution that benefits from tourism in the country. Sanchez explains how the existence of programs such as
		adoption and care centers can attract tourists who may be interested in supporting and funding these initiatives (15).
		<br>   Euthanasia may seem like a very controversial topic when it comes to animal population control. 
		In a paper written by Miguel Angel Sanchez Castro, he states that euthanasia is a recommended method in controlling animal populations. He explains how euthanasia should be a method used for animals that are suffering
		from an illness, injury, or ones who have behavioral issues and are a threat to other animals as well as humans (3). As much as euthanasia can be seen as a quick solution to issues like overpopulation, it is not the 
		only solution available for this problem. Article 55 states that it is illegal to use any form of euthanasia on an animal in public, unless it is done by a trained professional. Similarly, euthanasia must only be done 
		by a qualified professional and be done properly (Castagno 33).

	</p>
</div>
{% endblock %}